.custom-container {
    position: relative;
    height: 100vh;
    margin: -8px;
}

.custom-container .custom-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.custom-centered {
    max-width: 560px !important;
    width: 100%;
    padding-left: 160px;
    line-height: 1.1
}

.custom-centered .graphics {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 140px;
    height: 140px;
    background-image: url(img/emoji.webp);
    background-size: cover
}

.custom-centered .graphics:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(2.4);
    border-radius: 50%;
    background-color: #E1E6EC;
    z-index: -1
}

.custom-centered h1 {
    font-family: 'Cera Pro', sans-serif;
    font-size: 65px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
    color: #FD9900;
    text-transform: uppercase
}

.custom-centered h2 {
    font-family: 'Cera Pro', sans-serif;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    color: #001833
}

.custom-centered p {
    font-family: 'Cera Pro', sans-serif;
    color: #001833;
    font-weight: 300;
    margin: 16px 0;
}

#disconnected {
    display: none;
    box-sizing: unset;
}